.cardContainer {
    text-align: left;
    border: 1px solid #575757;
    border-radius: 30px;
    padding: 20px;
    min-height: 250px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        span {
            font-weight: 700;
            font-size: 50px;
            color: #575757;
            line-height: 0.5;
        }
    }
}

.boldText {
    font-weight: 600;
}
