.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: 50vh;

    .heroTextGroup {
        align-self: stretch;
        text-align: center;
        font-weight: 800;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.9));
        font-size: 64px;
        line-height: 80px;

        .heroTextOrange {
            color: var(--primary-orange);
        }
    }

    .heroButtonGroup {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .hero {
        padding: 0 1rem;
        height: 70vh;

        .heroTextGroup {
            font-size: 40px;
            line-height: 50px;
        }
    }
}
