@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");

body {
    margin: 0;
    line-height: normal;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
}

.backgroundImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.backgroundImageContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    font-family: var(--font-syne);
    background-color: transparent;
    overflow-x: hidden;

    @media screen and (max-width: 900px) {
        max-width: 100vw;
    }
}

:root {
    /* fonts */
    --font-syne: Syne;
    --font-karla: Karla;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-39xl: 58px;

    /* Colors */
    --primary-dark: #010103;
    --color-gray-100: rgba(255, 255, 255, 0.5);
    --color-slategray: #777687;
    --color-white: #fff;
    --stroke-gradient: #ff4600;
    --primary-orange: #ff4600;
    --color-black: #000;
    --color-dimgray-100: #575757;
    --gray-1: #333;

    /* Gaps */
    --gap-lgi: 19px;
    --gap-3xs: 10px;
    --gap-mini: 15px;
    --gap-231xl: 250px;
    --gap-6xl: 25px;
    --gap-xl: 20px;
    --gap-31xl: 50px;
    --gap-111xl: 130px;

    /* Paddings */
    --padding-11xl: 30px;
    --padding-8xl: 27px;
    --padding-109xl: 128px;
    --padding-3xs: 10px;
    --padding-16xl: 35px;
    --padding-xl: 20px;
    --padding-8xs: 5px;
    --padding-5xs: 8px;
    --padding-17xl: 36px;
    --padding-14xl: 33px;
    --padding-31xl: 50px;

    /* Border radiuses */
    --br-3xs: 10px;
    --br-11xl: 30px;
    --br-21xl: 40px;

    /* Max width */
    --max-width-1xl: 1200px;
}
