$primary-dark: #010103;
$color-gray-100: rgba(255, 255, 255, 0.5);
$color-slategray: #777687;
$color-white: #fff;
$stroke-gradient: #ff4600;
$primary-orange: #ff4600;
$color-black: #000;
$color-dimgray-100: #575757;
$gray-1: #333;
