.featuresContainer {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .textRegular {
        color: #777687;
    }
}

.featuresCardRow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    > :nth-child(1) {
        background: linear-gradient(45deg, #07232d 40%, #abcdd5);
    }

    > :nth-child(2) {
        background: linear-gradient(45deg, #120d07 40%, #e4c28e);
    }

    > :nth-child(3) {
        background: linear-gradient(45deg, #0a0b1d 40%, #748a95);
    }

    > :nth-child(4) {
        background: linear-gradient(45deg, #140a1d 40%, #b28bd1);
    }
}

.playToEarnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    .playToEarn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        .leftChild {
            width: 50%;

            p {
                color: #777687;
            }

            span {
                color: var(--primary-orange);
            }
        }
    }
}

.howToPlayContainer {
    text-align: center;

    p {
        color: #777687;
    }

    .cardsRow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem 0;

        .column {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > div:nth-child(1) {
                background: linear-gradient(-45deg, transparent 60%, #4db2c8);
            }

            > div:nth-child(2) {
                background: linear-gradient(-45deg, transparent 60%, #7e6196);
            }
        }
    }
}

.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .featuresContainer {
        padding: 1rem;
        .textRegular {
            font-size: 16px;
            color: #777687;
        }
    }

    .featuresCardRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .playToEarnContainer {
        padding: 1rem 2rem;
        .playToEarn {
            flex-direction: column;
            gap: 1rem;

            img {
                width: 300px !important;
                height: 300px !important;
            }

            .leftChild {
                width: 100%;
                text-align: center;
            }
        }
    }

    .howToPlayContainer {
        padding: 1rem;
        .cardsRow {
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;

            .cardImg {
                display: none !important;
            }
        }
    }
}
